In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
import re
import string
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("data.csv")
df.head(2)

,id,headline,content,root_follower,root_following,average_follower,average_following,average_time_delay,lifetime,label
0,5,Beverly Hillbillies Star Donna Douglas Dies at 81,"Donna Douglas, star of hit show The Beverly Hi...",11692292,111804,110526,2223,32,611,1
1,8,just in: missing afghan soldiers found trying ...,NaN,8605095,1842,27605,3468,211,36075,1

In [69]:
from nltk.corpus import stopwords
STOPW = set(stopwords.words('english'))
to_delete = ["ll","no","nor","aren't","couldn't",'couldn',"didn'",'didn',"doesn't",'doesn',"don't",'don',"hadn't",'hadn',"hasn't",'hasn',"haven't",'haven',"isn't",'isn',"mightn't",'mightn',"mustn't",'mustn',"no","not","shan't",'shan',"shouldn't","shouldn","will","wasn't",'wasn',"weren't",'weren',"won't",'won',"wouldn't",'wouldn',"isn't","that'll"]
STOPW = list(STOPW)+to_delete
\

In [71]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [76]:
def wordopt(text):
    text = str(text).lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)   
    text = " ".join(word for word in text.split() if not (word in STOPW or word.startswith('#') or word.startswith('@') or word.startswith('$')))
    text = " ".join([lemmatizer.lemmatize(word) for word in text.split()])
    return text
df['headline_modified'] = df['headline'].apply(wordopt)

\

In [39]:
# fig, axs = plt.subplots(nrows=3,ncols=2)
# sns.boxplot(x='label', y='root_follower', data=df, palette='bwr', ax = axs[0,0])
# sns.boxplot(x='label', y='root_following', data=df, palette='bwr', ax = axs[0,1])
# sns.boxplot(x='label', y='average_follower', data=df, palette='bwr', ax = axs[1,0])
# sns.boxplot(x='label', y='average_following', data=df, palette='bwr', ax = axs[1,1])
# sns.boxplot(x='label', y='average_time_delay', data=df, palette='bwr', ax = axs[2,0])
# sns.boxplot(x='label', y='lifetime', data=df, palette='bwr', ax = axs[2,1])
# plt.show()

In [38]:
# plt.ylim(0, 20000000)
# sns.boxplot(x='label', y='root_follower', data=df, palette='bwr')

In [25]:
#plt.ylim(0, 10000)
#sns.boxplot(x='label', y='root_following', data=df, palette='bwr')

In [26]:
# plt.ylim(0, 100000)
# sns.boxplot(x='label', y='average_follower', data=df, palette='bwr')

In [28]:
# plt.ylim(0, 10000)
# sns.boxplot(x='label', y='average_following', data=df, palette='bwr')

In [29]:
# plt.ylim(0, 3000)
# sns.boxplot(x='label', y='average_time_delay', data=df, palette='bwr')

In [30]:
# plt.ylim(0, 80000)
# sns.boxplot(x='label', y='lifetime', data=df, palette='bwr')

In [209]:
collumn = []
collumn_with_headline = collumn + ['headline_modified']
X = df[collumn_with_headline]
X.head()

                                   headline_modified
0            beverly hillbilly star donna douglas dy
1  missing afghan soldier found trying enter cana...
2     riphulkhogan heart ripping like shirt wwe miss
3  chick fil manager allegedly banned hilarious l...
4  islamic tribunal using sharia law texas confir...

In [210]:
y= df[['label']]
y.head(2)

   label
0      1
1      1

In [211]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer(ngram_range=(1,2), max_features=1000)
X_txt = vect.fit_transform(X['headline_modified'])
X_txt = pd.DataFrame(X_txt.toarray(),columns=vect.get_feature_names())

X_txt.index=range(0,817)
X_final = pd.concat([X_txt,X[collumn]],axis=1)
# X_final = X_txt
X_final.head()

,abbott,abc,abc interview,abc news,abdulfattah,abdulfattah jandali,accident,accidentally,act,actor,...,world,world largest,would,year,year old,york,young,zehaf,zehaf bibeau,zimmerman
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [212]:
X_train, X_test, y_train, y_test = train_test_split(X_final,y,test_size=0.3)
X_train.head()

,abbott,abc,abc interview,abc news,abdulfattah,abdulfattah jandali,accident,accidentally,act,actor,...,world,world largest,would,year,year old,york,young,zehaf,zehaf bibeau,zimmerman
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
473,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
435,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
170,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [215]:
X_train=X_train.values
X_test=X_test.values
y_train=y_train.values
y_test=y_test.values

In [10]:
# from sklearn.linear_model import LogisticRegression
# from sklearn.pipeline import make_pipeline
# from sklearn.model_selection import RandomizedSearchCV
# from sklearn.metrics import make_scorer, accuracy_score

In [11]:
# pipe_logis=make_pipeline(LogisticRegression())
# pipe_logis

Pipeline(steps=[('logisticregression', LogisticRegression())])

In [14]:
# logis_param_grid = {
#     'logisticregression__l1_ratio':np.arange(0,1,0.05),
#     'logisticregression__C':np.arange(0,10,0.5)
# }
# randomized_search_logis = RandomizedSearchCV(estimator=pipe_logis, param_distributions=logis_param_grid, n_iter=100, scoring=make_scorer(accuracy_score))

In [170]:

\

In [13]:
# print(randomized_search_logis.best_params_)
# print(randomized_search_logis.best_score_)

AttributeError: 'RandomizedSearchCV' object has no attribute 'best_params_'

In [171]:
# logis_model=LogisticRegression(l1_ratio=0.15,class_weight='balanced',C=7.5)
# # logis_model.fit(X_train,y_train)
\

In [121]:
# logis_pred=logis_model.predict(X_test)
# #cm = confusion_matrix(y_test,logis_pred)
# print(accuracy_score(y_test,logis_pred))

0.4878048780487805

In [35]:
from sklearn.ensemble import RandomForestClassifier

In [213]:
rf=RandomForestClassifier()
rf.fit(X_train,y_train)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestClassifier()

In [214]:
rf_pred=rf.predict(X_test)
print(accuracy_score(y_test,rf_pred))

0.8617886178861789

In [16]:
from sklearn.ensemble import GradientBoostingClassifier

In [17]:
gradient_classifier=GradientBoostingClassifier()
gradient_classifier.fit(X_train,y_train)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

GradientBoostingClassifier()

In [18]:
gradient_pred=gradient_classifier.predict(X_test)
print(accuracy_score(y_test,gradient_pred))

0.5975609756097561

In [149]:
from sklearn.naive_bayes import GaussianNB

In [19]:
naive_classifier=GaussianNB()
naive_classifier.fit(X_train,y_train)
naive_pred=naive_classifier.predict(X_test)
print(accuracy_score(y_test,naive_pred))

NameError: name 'GaussianNB' is not defined